{% extends 'mediahub/base.html' %}

{% block title %}Anime - MediaShelf{% endblock %}

{% block content %}

<!-- <h1 class="text-center text-white text-uppercase fw-bold display-3 my-5">
    {% if page_title %}
    {{ page_title }}
    {% else %}
    ANIME
    {% endif %}
</h1> -->

<div class="text-center text-white text-uppercase fw-bold display-5">
    <h1 class="fw-bold m-2 ms-1 text-white h1 d-inline-block">
        Top Anime
    </h1>
</div>

<div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 px-md-5">
    {% for item in items %}
    <div class="col">

        <a href="{% url 'detail' item.media_type item.id %}"
           class="d-block text-decoration-none text-reset flex-shrink-0">
            <div class="movie-card">
                <div class="card-cover-container">
                    <img src="{{ item.poster_url }}" class="card-cover" alt="{{ item.title }}">
                </div>
                <div class="card-meta">
                    <span class="movie-title">{{ item.title }}</span>
                    <span class="movie-rating">⭐ {{ item.rating|floatformat:1 }}</span>
                </div>
            </div>
        </a>

    </div>
    {% endfor %}
</div>

<div class="d-flex justify-content-center align-items-center gap-3 my-5">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-light" href="?page=1{% if selected_genre %}&genre={{ selected_genre }}{% endif %}">«</a>
    <a class="btn btn-outline-light" href="?page={{ page_obj.previous_page_number }}{% if selected_genre %}&genre={{ selected_genre }}{% endif %}">‹</a>
    {% endif %}

    <span class="text-white">
        Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="btn btn-outline-light" href="?page={{ page_obj.next_page_number }}{% if selected_genre %}&genre={{ selected_genre }}{% endif %}">›</a>
    <a class="btn btn-outline-light" href="?page={{ page_obj.paginator.num_pages }}{% if selected_genre %}&genre={{ selected_genre }}{% endif %}">»</a>
    {% endif %}
</div>

{% endblock %}