{% extends 'mediahub/base.html' %}

{% block title %}Movies - MediaShelf{% endblock %}

{% block content %}

<h1 class="text-center text-white text-uppercase fw-bold display-3 my-5">
    {% if request.GET.genre %}
    {{ request.GET.genre }} - MOVIES
    {% else %}
    MOVIES
    {% endif %}
</h1>

<div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 px-md-5">
    {% for section in genre_sections %}
    {% for item in section.items %}
    <div class="col">

        <a href="{% url 'detail' item.media_type item.id %}"
           class="d-block text-decoration-none text-reset flex-shrink-0">
            <div class="movie-card">
                <div class="card-cover-container">
                    <img src="{{ item.poster_url }}" class="card-cover" alt="{{ item.title }}">
                </div>
                <div class="card-meta">
                    <span class="movie-title">{{ item.title }}</span>
                    <span class="movie-rating">⭐ {{ item.rating }}</span>
                </div>
            </div>
        </a>

    </div>
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}